
$red: #F0446E;             // Couleur d'alerte
$green: #CFED58;           // Couleur de principale
$blue: #5BBBBC;            // Couleur de secondaire
$yellow: #FFC65A;
$orange: #ed9f47;
$gray: #141414;            // Couleur du texte courant
$light-gray: #5B5B5B;      // Couleur du texte plus clair
$very-light-gray: #B5B5B5; // Couleur des placeholder
