// Import Google fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

// Define fonts for body and headers
$body-font: "Roboto", "Helvetica", "sans-serif";
$headers-font: "Roboto", "Helvetica", "sans-serif";

h1, h2, h3, h4, h5, h6, p {
  color: #141414;
}

.text-very-light-gray {
  color: #B5B5B5;
}

a {
  text-decoration: none !important;
  color: #141414 !important;
}

.fs-13 {
  font-size: 13px;
}
.fs-16 {
  font-size: 16px;
}
