<div class="d-flex justify-content-end align-items-center mb-4" data-bs-toggle="modal" data-bs-target="#destroyModal">
  <%= link_to 'javascript:void(0);' do %>
    <div>
      <p class="btn btn-danger text-white justify-content-center mb-0" style="width: 100px; height: 35px;">Destroy</p>
    </div>
  <% end %>
</div>

<div class="modal fade" id="destroyModal" tabindex="-1" aria-labelledby="destroyModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title fs-5" id="destroyModalLabel">Delete <%= @shop.name %>?</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete your shop?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary text-light" data-bs-dismiss="modal">Cancel</button>
        <%= link_to 'Destroy', shop_path(@shop), data: { turbo_method: :delete }, class: 'btn btn-danger text-light' %>
      </div>
    </div>
  </div>
</div>
