.create-company-layout {
  height: 100vh;
  background-color: $secondary;
}

.container-create-company {
  @media screen and (min-width: 768px) {
    margin: auto;
    width: 600px;
  }
}

.btn-bg-primary {
  background-color: $primary;
  color: $secondary;
  font-size: 1.2rem;
  font-weight: 500;
  padding: 10px 40px;
  border-radius: 50px;
  width: 120px;
  transition: all 0.3s;
}

.btn-bg-opacity {
  background-color: rgba(255, 255, 255, 0.2);
  color: $gray;
  font-size: 1.2rem;
  font-weight: 500;
  padding: 10px 40px;
  border-radius: 50px;
  width: 120px;
  transition: all 0.3s;
}

.btn-bg-opacity-next {
  background-color: rgba(255, 255, 255, 0.2);
  color: $gray;
  font-size: 1rem;
  font-weight: 500;
  padding: 10px 40px;
  border-radius: 50px;
  width: 120px;
  transition: all 0.3s;
  &:hover {
    background-color: $primary;
    color: $secondary;
  }
}

.form-company {
  border: none;
  border-radius: 50px;
  padding: 10px 30px;
  text-align: center;
}

.form-company-input {
  border: none;
  border-radius: 8px;
  padding: 10px 30px;
}
