.categories {
  display: flex;
}

.categories-item {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  background-color: white;
  border-radius: 50px;
  height: 54px;
  padding-right: 24px;
  padding-left: 24px;
  margin-right: 8px;
  transition: all 0.3s;
  cursor: pointer;
  p {
    margin-bottom: 0;
  }
  &:hover {
    background-color: rgb(207, 237, 88);
    // p {
    //   color:white !important;
    // }
  }
}

.active-category {
  background-color: rgb(207, 237, 88);
  
}

.horizontal-scroll-container {
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
  scroll: smooth;
}

.horizontal-scroll-content {
  display: inline-block;
}
