.categories {
  display: flex;
}

.home-title {
  position: relative;
  display: block;
  align-items: center;
  font-size: calc(1.5rem + 4.8vw);
  height: 150px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 20px;
  font-weight: 900;
  color: $secondary;
  opacity: .14;
  line-height: .9;
  z-index: -1;
  transform: translateY(0px);
  transition: transform 0.2s ease-out;
  @media screen and (min-width: 1400px) {
    display: block;
    font-size: 6.6rem;
    position: absolute;
    top: 35px;
    max-width: 1220px;
    padding-left: 470px;
  }
}

.parallax-effect {
  @media screen and (min-width: 1400px) {
  will-change: transform;
  }
}

.category-title {
  @media screen and (min-width: 1400px) {
    margin-top: 150px;
  }
}

.bg-content {
  // @media screen and (max-width: 1400px) {
  //   background-color: rgba(245, 247, 237, 1);
  // }
}

.categories-item {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: 500;
  background-color: white;
  border-radius: 50px;
  height: 54px;
  padding-right: 24px;
  padding-left: 24px;
  margin-right: 8px;
  transition: all 0.3s;
  cursor: pointer;
  p {
    margin-bottom: 0;
    color: #2a2a2a;
  }
  &:hover {
    background-color: rgb(207, 237, 88);
    // p {
    //   color:white !important;
    // }
  }
}

.active-category {
  background-color: rgb(207, 237, 88) !important;
  font-weight: 500;
  p {
    color: white !important;
  }
}

.horizontal-scroll-container {
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
  scroll: smooth;
}

.horizontal-scroll-content {
  display: inline-block;
}

.location-filter {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: .8rem;
  font-weight: 500;
  background-color: white;
  border-radius: 50px;
  height: 32px;
  padding-right: 18px;
  padding-left: 18px;
  cursor: pointer;
  border: 2px solid white;
  p {
    margin-bottom: 0;
    color: #2a2a2a;
  }
}

.location-items {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  font-size: .6rem;
  font-weight: 500;
  background-color: white;
  border-radius: 50px;
  height: 30px;
  padding-right: 16px;
  padding-left: 16px;
  margin: 3px calc(4px + .6vw );
  transition: all 0.3s;
  cursor: pointer;
  opacity: 0.65;
  transition: all 0.3s;
  p {
    margin-bottom: 0;
  }
  &:hover {
    opacity: .9;
  }
}

.active-location {
  background-color: rgb(207, 237, 88) !important;
  font-weight: 500;
  opacity: 1 !important;
  p {
    color: white !important;
  }
}

.categories-card {
  margin-top: 8px;
  padding: 14px;
  background-color: white;
  border-radius: 38px;

  span {
    font-size: .9rem;
    color: $light-gray;
    font-weight: 300;
  }
  p {
    font-size: .7rem;
    font-weight: 300;
    color: $light-gray;
  }
}

.image-card {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 230px;
  border-radius: 24px;
}

.card-arrow {
  background-color: $gray;
  border-radius: 50%;
  margin-right: 10px;
  margin-bottom: 10px;
  width: 56px;
  height: 56px;
  color: $primary;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s;
  &:hover {
    background-color: rgb(207, 237, 88);
    color: $gray
  }
}

.border-green {
  border: 2px solid rgb(207, 237, 88);
}
