.categories {
  display: flex;
}

.categories-item {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: 500;
  background-color: white;
  border-radius: 50px;
  height: 54px;
  padding-right: 24px;
  padding-left: 24px;
  margin-right: 8px;
  transition: all 0.3s;
  cursor: pointer;
  p {
    margin-bottom: 0;
    color: #2a2a2a;
  }
  &:hover {
    background-color: rgb(207, 237, 88);
    // p {
    //   color:white !important;
    // }
  }
}

.active-category {
  background-color: rgb(207, 237, 88) !important;
  font-weight: 500;
  p {
    color: white !important;
  }
}

.horizontal-scroll-container {
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
  scroll: smooth;
}

.horizontal-scroll-content {
  display: inline-block;
}

.location-filter {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: .8rem;
  font-weight: 500;
  background-color: white;
  border-radius: 50px;
  height: 32px;
  padding-right: 18px;
  padding-left: 18px;
  transition: all 0.3s;
  cursor: pointer;
  p {
    margin-bottom: 0;
    color: #2a2a2a;
  }
}

.location-items {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  font-size: .6rem;
  font-weight: 500;
  background-color: white;
  border-radius: 50px;
  height: 30px;
  padding-right: 16px;
  padding-left: 16px;
  margin: 3px calc(4px + .6vw );
  transition: all 0.3s;
  cursor: pointer;
  border: 1px solid #2a2a2a;
  opacity: 0.45;
  transition: all 0.3s;
  p {
    margin-bottom: 0;
  }
  &:hover {
    opacity: .9;
  }
}
