.header-show {
  height: 80vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.title-show {
  position: absolute;
  top: 38%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;

  h1 {
    color: rgba(237, 242, 219, 0.17);
    font-size: calc(1.5rem + 20vw);
    font-weight: 900;
    line-height: 90%;
    text-align: center;
    text-shadow: 0px 10px 30px #2c2c2c72;

    @media (min-width: 768px) {
      font-size: calc(1.5rem + 10vw);
    }
  }
  p {
    font-size: 2.6rem;
    color: rgba(207, 237, 88, 0.5);
  }
}

// .custom-shape {
//   position: absolute;
//   bottom: 19.7vh;
//   left: 0;
//   width: 100%;
//   overflow: hidden;
//   line-height: 0;
//   // transform: rotate(180deg);
// }

// .custom-shape svg {
//   position: relative;
//   display: block;
//   width: 100%;
//   height:calc(45px + 5vw);
// }


.custom-shape {
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  // transform: rotate(180deg);
}

.custom-shape svg {
  position: relative;
  display: block;
  width: 100%;
  height:calc(45px + 5vw);
}

.cls-1, .cls-2, .cls-3 {
  fill: #fff;
}
.cls-2 {
  opacity: .3;
}
.cls-2, .cls-3 {
  isolation: isolate;
}
.cls-3 {
  opacity: .6;
}


.content-show {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  padding-top: 0 !important;
  margin-top: 0 !important;
  span:first-of-type {
    position: absolute;
    top: 77vh;
    font-size: calc(1rem + 0.5vw);
    color: #5B5B5B;
    @media screen and (min-width: 768px) {
      top: 76vh;

    }
  }
  h1 {
    font-size: calc(2rem + 1.5vw);
  }
  p {
    color: $light-gray;
  }
}

.images-show {
  display: flex;
  overflow-y: auto;
  scroll-behavior: smooth;
  img {
    height: 20vh;
    margin-right: 20px;
  }
}
