.header-show {
  height: 80vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.title-show {
  position: absolute;
  top: 38%;
  left: 2%;
  transform: translate(0%, -50%);
  max-width: 100%;
  padding: 6%;
  @media (min-width: 768px) {
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0;
  }

  h1 {
    color:#c5fdfd96;
    font-size: calc(1.4rem + 10vw);
    font-weight: 900;
    line-height: 90%;
    text-shadow: 0px 10px 20px #2c2c2c72;

    @media (min-width: 768px) {
      text-align: center;
      font-size: calc(1.5rem + 6vw);
    }
  }
  p {
    font-size: 2rem;
    color: rgb(207, 237, 88);
  }
}

.bg-icon-header {
  background-color: rgba(255, 255, 255, 0.96);
  width: 65px;
  height: 65px;
  border-radius: 50px;
}

.custom-shape {
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  // transform: rotate(180deg);
}

.custom-shape svg {
  position: relative;
  display: block;
  width: 100%;
  height:calc(45px + 5vw);
}

.cls-1, .cls-2, .cls-3 {
  fill: #fff;
}
.cls-2 {
  opacity: .3;
}
.cls-2, .cls-3 {
  isolation: isolate;
}
.cls-3 {
  opacity: .6;
}


.content-show {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  padding-top: 0 !important;
  margin-top: 0 !important;
  // span:first-of-type {
  //   position: absolute;
  //   top: 77vh;
  //   font-size: calc(1rem + 0.5vw);
  //   color: #5B5B5B;
  //   @media screen and (min-width: 768px) {
  //     top: 76vh;
  //   }
  // }
  h1 {
    font-size: calc(2rem + 1.5vw);
  }
  p {
    color: $light-gray;
  }
}

.images-show {
  display: flex;
  overflow-y: auto;
  scroll-behavior: smooth;
  position: relative;
  z-index: 90;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;

  img:hover {
    cursor: pointer;
  }
}
.images-show::-webkit-scrollbar {
  display: none;
}

.images-show img {
  height: 20vh;
  margin-right: 20px;
  transition: height 0.3s ease, transform 0.3s ease;
}

.fixed {
  overflow: hidden;
  height: 100vh;
}

.overlay {
  position: fixed; /* Rester en place lors du défilement */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9); /* Couleur et transparence */
  z-index: 90; /* Positionné au-dessus de tout sauf des images */
  display: none; /* Cacher par défaut */
}

.back-show .overlay {
  display: block; /* Afficher l'overlay lorsque 'back-show' est appliqué au body */
}

.title-show-for-overlay {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;

  h3 {
    color:#ffffffd3;
    font-size: calc(1rem + 3.4vw);
    font-weight: 900;
    text-align: center;

    @media screen and (min-width: 768px) {
      font-size: calc(1rem + 2vw);
    }
  }
}


.icons-show {
  position:absolute;
  font-size: calc(1.8rem + .5vw);
  transition: font-size 0.2s;
  &:hover {
    font-size: calc(2rem + .5vw);
  }
}



.mapboxgl-ctrl {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  color: #5B5B5B;
}
