<div id="navbar-burger-id" class="navbar-burger  d-flex flex-column justify-content-center align-items-center">
  <div class="d-flex flex-column">
    <%= link_to 'My profile', edit_image_and_bio_path, class: 'navbar-burger-item link link-underline' %>
    <%= link_to 'Blog', blog_pages_path, class: 'navbar-burger-item link link-underline' %>
  </div>

</div>


<div id="navbar-btn" class="menu-wrapper">
  <div class="hamburger-bg"></div>
  <div class="hamburger-menu"></div>
</div>

<%= javascript_include_tag 'navbar' %>
