<div class="navbar-back-container">

  <%# bouton back %>
  <div class="menu-wrapper">
    <%= link_to root_path do %>
      <div class="back-bg"></div>
      <div class="back-arrow"></div>
    <% end %>
  </div>

</div>
