<div class='container'>
  <h1 style='margin-top: 60px;'>Categories</h1>

  <div id ="allCategories" class="categories">
    <div class="categories-item active-category">
      <p>All</p>
    </div>
    <div class="categories-item">
      <p>Schools</p>
    </div>
    <div class="categories-item">
      <p>Shops</p>
    </div>
    <div class="categories-item">
      <p>Spots</p>
    </div>



  </div>


</div>
