<div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
  <div class="row">
    <!-- Bouton School -->
    <div class="col text-center mb-3">
      <%= link_to 'School', new_school_path, class: 'btn btn-primary btn-lg', style: 'width: 150px;' %>
    </div>
    <!-- Bouton Shop -->
    <div class="col text-center mb-3">
      <%= link_to 'Shop', new_shop_path, class: 'btn btn-success btn-lg', style: 'width: 150px;' %>
    </div>
  </div>
</div>
