.review-card {
  padding: 12px 20px;
  background-color: white !important;
  margin-bottom: 20px;
  border-radius: 16px 16px 16px 0px;
}

.review-user {
  font-size: 1rem;
  font-weight: 500;
  color: #141414 !important;
}

.review-description {
  font-size: .9rem;
  color: #5B5B5B !important;
  font-weight: 300;
}

.d-none {
  display: none !important;
}
